{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Créer un nouveau mot de passe{% endblock %}
 
{% block body %}

    <div class="page-container account-page container col-md-10 col-lg-6 px-3 px-md-4 my-4 my-md-5">
        <h3 class="account-page__title mb-4 mb-md-5 text-center text-md-start">Nouveau mot de passe</h3>

        {{ form_start(form) }}

        <div class="mb-4">
            {{ form_errors(form.newPassword) }}
            {{ form_widget(form.newPassword) }}
        </div>

        <div class="account-page__actions mt-4 d-flex justify-content-center justify-content-md-start align-items-center flex-wrap gap-3">
            <a href="{{ path('homepage') }}" class="btn btn-go-back">Annuler</a>
            <button type="submit" class="btn btn-validate">Valider le nouveau mot de passe</button>
        </div>

        {{ form_end(form) }}
    </div>


{% endblock %}
