{% extends 'base.html.twig' %}

{% block title %}Propon Manifesto{% endblock %}

{% block headTag %}

    <meta name="description" content="Nous sommes engagés vers un monde meilleur. En présentant les projets, on espère souhaite favoriser leur réalisation. Découvrez comment !">

{% endblock %}

{% block stylesheets %}
    <link href="/css/static_content.css" rel="stylesheet">
    <link href="/css/static_manifesto.css" rel="stylesheet">
{% endblock %}


{% block body %}

    <div class="page-container static-content static-manifesto container px-0 col-md-11 col-lg-7">
 
        <div class="title-container">

            <h1 class="page-title fw-bold"><span class="d-lg-none me-2">🧭</span><span class="d-none d-md-inline">-</span> Rejoignez-Nous <span class="d-none d-md-inline">-</span></h1>

        </div>

        <section class="dl-blurbs">

            <dl>

                <dt>🤚 Engagés</dt>

                    <dd>Propon est une <b>initiative gratuite</b>. Son objectif est d'avoir un <b>impact positif</b> sur la société et notre environnement.</dd>

                <dt>👉 Agir</dt>

                    <dd>Les projets sont déterminants pour <b>lutter contre les défis majeurs qui nous concernent tous</b>.</dd>


                <dt>⚡️ Accélérer</dt>

                    <dd>En présentant vos projets et vos besoins, <b>on améliore leur découverte et vos chances de trouver des participants</b>.</dd>
                
                <dt>💪 Ensemble</dt>

                    <dd>Les projets de toutes tailles sont <b>les briques des plus grands projets</b>. Chaque projet réussi, c’est potentiellement <b>des centaines d’autres qui progressent</b>.</dd>

            </dl>


        </section>

        <section>

            <h2 class="text-center fw-bold mb-5">⏱️ Et Maintenant ?</h2>

            <ul class="horizontal-list">

                {# Use search engine to find a project #}

                 <a href="#" data-search-trigger>
                     
                    <li class="now-action-item">

                        <img id="search_icon_small_screens" class="cta-item-img cta-search-icon icon-themed" src="{{ asset('search.svg', 'misc')}}" alt="search icon" style="height:40px;">

                        <div class="cta-item-text">Trouver un Projet</div>
                    
                    </li>
                
                </a>

                <a href="{{ path ('create_project_presentation') }}">
                    
                    <li class="now-action-item">

                        <img class="cta-item-img pp-theme-icon" src="{{ asset('add_presentation.svg', 'misc')}}" height="34"  alt="bucket with a plus icon">

                        <div class="cta-item-text">Présenter votre projet gratuitement</div>

                    </li>
                
                </a>

                <a href="{{ asset('pdf/project-of-projects-manifesto-fr.pdf', 'static')}}" target="_blank" rel="noopener noreferrer">

                    <li class="now-action-item">

                        <img id="search_icon_small_screens" class="cta-item-img" src="{{ asset('pdf-file.png', 'misc')}}" alt="pdf file icon" style="height:50px;">

                        <div class="cta-item-text">Le Manifeste du<br>Projet des Projets</br>(version longue)</div>
                    
                    </li>

                </a>

                
            </ul>

        </section>

    </div>

{% endblock %}
