

{{ form_start(form) }}

    {{ form_errors(form) }}

    <div class="text-center">
        
        {{ form_errors(form.goal) }}
        {{ form_errors(form.textDescription) }}
        {{ form_errors(form.imageSlide.imageFile) }}
        {{ form_errors(form.title) }}
    
    </div>


    {% if currentItem.type == "goal" %}


        {% include "project_presentation/create/__form_steps/__goal.html.twig" %}

    {% elseif currentItem.type == "title" %}

        {% include "project_presentation/create/__form_steps/__title.html.twig" %}


    {% elseif currentItem.type == "imageSlide" %}


        {% include "project_presentation/create/__form_steps/__image_slide.html.twig" %}

    {% elseif currentItem.type == "initialStatus" %}


        {% include "project_presentation/create/__form_steps/__status.html.twig" %}


    {% elseif currentItem.type == "textDescription" %}

        {% include "project_presentation/create/__form_steps/__text_description.html.twig" %}

    {% elseif currentItem.type == "categoriesKeywords" %}

        {% include "project_presentation/create/__form_steps/__categories_keywords.html.twig" %}

    {% endif %}

    <!-- Hidden Fields -->

    <div class="">
                    
        {{ form_widget(form.helperItemType, {'value' : currentItem.type}) }}

        {{ form_widget(form.currentPosition, {'value' : position}) }}

        {{ form_widget(form.nextPosition, {'value' : nextPosition}) }}

    </div>

    <div class="d-none">

        {{ form_rest(form) }}

    </div>

    <!-- Action Buttons -->

    <div class="action-buttons-container {% if previousPosition is null %}justify-content-center{% endif %}">{# When only one button we center it (no previous button) #}

        {% if position != 0 %}

            <a href="{{ path('create_project_presentation', {'stringId': stringId, 'position': previousPosition }) }}"><button type="button" class="action-button btn btn-go-back btn-no-icon">Retour</button></a>        
                
        {% endif %}

        <button type="submit" class="validate action-button btn btn-validate">Continuer</button>


    </div>


            

{{ form_end(form) }}
