{% extends 'base.html.twig' %}

{% block headTag %}<meta name="robots" content="noindex,nofollow" />{% endblock %}

{% block title %}Modification adresse e-mail du compte{% endblock %}

{% block body %}

    <div class="page-container container d-flex justify-content-center text-center p-0 mt-5">

        <div class="col-md-8 mb-5">
        

                <h3 class="my-2 my-md-5 fw-bold">Modification de l'adresse e-mail associée à mon compte</h3>

                        
                {{ form_start(form) }}

                <div class="my-3 fs-15 fw-bold">

                    {{form_errors(form.email)}}

                </div>

                <div class="mb-4">

                    <h5 class="mb-3 fw-bold">
                        Veuillez écrire ici la nouvelle adresse e-mail que vous souhaitez associer à votre compte utilisateur
                    </h5>
                    
                    <div class="mb-4">

                        {{ form_widget(form.email) }}

                    </div>
                    
                    <div class="d-none mb-4">

                        {{ form_rest(form) }}

                    </div>

                </div>

                <!-- Action Buttons -->

                <div class="mt-5">

                    <a href="{{ path('user_profile_show', {'usernameSlug': app.user.usernameSlug}) }}">
                        <button type="button" class="btn btn-go-back me-3">Annuler</button>
                    </a>
                    
                    <button type="submit" class="btn btn-validate">Enregistrer</button>

                </div>

                {{ form_end(form) }}

            </div>

        
    </div>
    
{% endblock %}