{% set pickerId = pickerId|default('search') %}
{% set rootAttrs = rootAttrs|default({}) %}
{% set applyAttrs = applyAttrs|default({}) %}

{% set inputId = pickerId ~ '-location-input' %}
{% set statusId = pickerId ~ '-location-status' %}
{% set radiusId = pickerId ~ '-radius-input' %}

<div class="search-overlay__location"
    {% for attr, value in rootAttrs %}
        {{- ' ' ~ attr }}="{{ value|e('html_attr') }}"
    {% endfor %}
>
    <div class="search-overlay__location-fields" data-location-fields>
        <div class="search-overlay__location-input" data-location-input-wrap>
            <input
                id="{{ inputId }}"
                class="search-overlay__location-field"
                type="text"
                placeholder="Ville, région, pays..."
                autocomplete="off"
                autocorrect="off"
                spellcheck="false"
                data-location-input
            >
            <button class="search-overlay__location-clear d-none" type="button" data-location-clear-input aria-label="Effacer la localisation">&times;</button>
        </div>

        <div class="search-overlay__location-actions" data-location-actions>
            <button class="search-overlay__location-btn" type="button" data-location-use-me>
                <svg class="search-overlay__btn-icon" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd" d="M12 2c.55 0 1 .45 1 1v1.84c3.19.44 5.72 2.97 6.16 6.16H21c.55 0 1 .45 1 1s-.45 1-1 1h-1.84c-.44 3.19-2.97 5.72-6.16 6.16V21c0 .55-.45 1-1 1s-1-.45-1-1v-1.84c-3.19-.44-5.72-2.97-6.16-6.16H3c-.55 0-1-.45-1-1s.45-1 1-1h1.84c.44-3.19 2.97-5.72 6.16-6.16V3c0-.55.45-1 1-1Zm0 4.77A5.23 5.23 0 0 0 6.77 12 5.23 5.23 0 0 0 12 17.23 5.23 5.23 0 0 0 17.23 12 5.23 5.23 0 0 0 12 6.77Zm0 3.26a2 2 0 1 1 0 4 2 2 0 0 1 0-4Z"/>
                </svg>
                Autour de moi
            </button>
            <span id="{{ statusId }}" class="search-overlay__location-status" data-location-status></span>
        </div>

        <div class="search-overlay__radius is-hidden" data-location-radius-wrap>
            <label for="{{ radiusId }}" class="search-overlay__radius-label">
                Dans un rayon de <span data-location-radius-value>10</span> km
            </label>
            <input id="{{ radiusId }}" class="search-overlay__radius-input" type="range" min="1" max="200" step="1" value="10" data-location-radius-input>
        </div>

        <div class="search-overlay__location-note d-none" data-location-note>
            <svg class="search-overlay__location-note-icon" viewBox="0 0 24 24" aria-hidden="true">
                <path fill="currentColor" d="M12 2a10 10 0 1 0 .001 20.001A10 10 0 0 0 12 2Zm0 7a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1.1 9H10.9v-7h2.2v7Z"/>
            </svg>
            <span>Info&nbsp;: des projets sans lieu peuvent ne pas apparaître quand la localisation est active.</span>
        </div>

        <button class="search-overlay__apply is-hidden" type="button" data-location-apply disabled
            {% for attr, value in applyAttrs %}
                {{- ' ' ~ attr }}="{{ value|e('html_attr') }}"
            {% endfor %}
        >
            Appliquer la localisation
        </button>
    </div>
</div>
