


{% macro collection ( title="", items, class="", hideThreshold = "hide-335", icon = "", stats = {}, titleAction = {}, titleMeta = '', titleInfo = '' ) %}
    {% from 'project_presentation/cards/card.html.twig' import project_card %}
    {% from '_partials/ui_helpers.html.twig' import info_hint %}

    <div class="titled-projects-container {{class}}">

        <h3 class="collection-title">

            {% if icon %}
            
                <img class="collection-icon" src="{{asset ("collection_categories/"~ icon ~".svg", 'icons')}}" alt="An icon representing the project category" width = "30">

            {% endif %}
            
            <span class="collection-title-text">{{ title }}</span>
            {% if titleMeta %}
                <span class="collection-title-meta">{{ titleMeta }}</span>
            {% endif %}
            {% if titleInfo %}
                {{ info_hint(titleInfo, { class: 'collection-title-info' }) }}
            {% endif %}

            {% set actionLabel = titleAction.label|default('') %}
            {% set actionIconOnly = titleAction.iconOnly|default(false) %}
            {% if actionLabel or actionIconOnly %}
                {% set actionAttrs = titleAction.attrs|default({}) %}
                <button class="collection-title-action{{ actionIconOnly ? ' is-icon-only' : '' }}" type="button"
                    {% for attr, value in actionAttrs %}
                        {{- ' ' ~ attr }}="{{ value|e('html_attr') }}"
                    {% endfor %}
                >
                    <svg class="collection-title-action-icon" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill="currentColor" d="M3 17.25V21h3.75L19.81 7.94l-3.75-3.75L3 17.25Zm18.71-11.04a1 1 0 0 0 0-1.41L19.2 2.29a1 1 0 0 0-1.41 0l-1.84 1.84 3.75 3.75 2.01-1.67Z"/>
                    </svg>
                    {% if actionIconOnly %}
                        <span class="visually-hidden">{{ actionLabel|default('Modifier') }}</span>
                    {% else %}
                        <span>{{ actionLabel }}</span>
                    {% endif %}
                </button>
            {% endif %}
        
        </h3>

        <div class="hide-too-long {{ hideThreshold }} show-tiny-screens collection-container">
                
            {% for item in items %}
            
                {% set itemStats = (item.id is defined and stats[item.id] is defined) ? stats[item.id] : null %}

                {# Project presentation card #}

                {{ project_card(item, {
                    image: item.extra.cacheThumbnailUrl is defined ? item.extra.cacheThumbnailUrl : null,
                    fallbackImageText: item.goal|default('Aucune image'),
                    fetchImagesLink: (is_granted('ROLE_ADMIN') and item.stringId is defined) ? path('project_fetch_images', {'stringId': item.stringId}) : null,
                    deleteLink: (is_granted('ROLE_ADMIN') and item.stringId is defined) ? path('project_delete_from_images', {'stringId': item.stringId}) : null,
                    showCreator: true,
                    showViews: true,
                    showMeta: true,
                    likesCount: itemStats ? itemStats.likes : null,
                    commentsCount: itemStats ? itemStats.comments : null,
                }) }}   

     
            {% endfor %}

        </div>

    </div>

{% endmacro %}
