{# Html buttons is rendered whether project is followed or not #}

{% set hideFollowButton = presentation.isScraped %}

{% if not hideFollowButton %}

{% macro followButton (isFollowedClass = "") %}

    <div class="follow-button {{ isFollowedClass ? 'isFollowed' }} ">

        <div class="not-followed-display">
            
            <svg class="follow-icon" width="22" height="22" viewBox="265 251 222 133" aria-hidden="true" focusable="false">
                <path d="m 333.53915,336.74722 h 85.6499 c 5.82652,0 9.90509,-3.99875 9.90509,-8.49734 0,-4.99842 -4.07857,-8.49733 -9.90509,-8.49733 h -85.6499 c -6.99183,0 -12.23571,-4.99842 -12.23571,-10.49669 v -10.4967 c 0,-4.99844 -4.66122,-8.49733 -9.90508,-8.49733 -5.82653,0 -9.90509,3.49889 -9.90509,8.49733 v 10.4967 c 0,15.49513 13.98365,27.49136 32.04588,27.49136 z" fill="currentColor"/>
                <path d="m 414.80949,360.04308 c 1.53758,0 3.58769,-1.17484 5.6378,-2.93709 l 18.9635,-22.32189 c 1.53758,-1.76225 2.56263,-4.69934 2.56263,-7.04902 0,-2.93709 -1.02505,-5.28676 -2.56263,-7.04901 l -18.9635,-22.32189 c -3.58769,-4.11193 -9.22549,-4.11193 -12.30065,0 -3.58769,4.11193 -3.07516,10.57353 0,14.68545 l 12.81317,14.68545 -12.81317,14.68546 c -3.07516,4.11192 -3.07516,10.57352 0,14.68545 2.05011,1.76225 4.10021,2.93709 6.66285,2.93709 z" fill="currentColor"/>
            </svg>

            <span class="text">Suivre</span>
        
        </div>

        <div class="followed-display">
            
            <span class="text me-1">Suivi</span>

            <svg class="check-icon" width="14" height="14" viewBox="0 0 10 10" aria-hidden="true" focusable="false">
                <path d="M8.39 1.33a.9.9 0 0 1 1.29 1.27L4.87 8.63a.9.9 0 0 1-1.3.02L.37 5.46a.9.9 0 1 1 1.28-1.28l2.53 2.52L8.37 1.36l.02-.03z" fill="currentColor"/>
            </svg>
        
        </div>

    </div>

{% endmacro %}

{# Logic to display the appropriate button according to user logged in status and follow status #}


{% if not app.user %}
    
    <a href="{{path('app_login')}}" class="d-inline-flex align-items-center">

        {{ _self.followButton() }}

    </a>

{% else %} {# User is logged in #}

    <button
        type="button"
        class="js-ajax-follow-pp d-inline-flex align-items-center btn p-0 border-0 bg-transparent"
        data-url="{{ path('ajax_follow_pp', { stringId: presentation.stringId }) }}"
        data-token="{{ csrf_token('follow' ~ presentation.stringId) }}"
        aria-label="Suivre ce projet"
    >

        {% if presentation.isFollowedBy(app.user) %}

            {{ _self.followButton('isFollowed') }}

        {% else %}

            {{ _self.followButton() }}

        {% endif %}

    </button>

{% endif %}

   
{# Styles for the follow button #}

<style>

    /* These styles are overrided when avoce button is reused elsewhere */

    .follow-button {
        padding: var(--follow-button-padding, 1px 8px);
        border: 2px solid var(--follow-button-border, var(--theme-border));
        border-radius: var(--follow-button-radius, 50px);
        color: var(--follow-button-text, var(--pp-interaction-icon-color, var(--theme-text)));
        background-color: var(--follow-button-bg, transparent);
        transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
        cursor: pointer;
    }

    .follow-button .follow-icon,
    .follow-button .check-icon {
        color: var(--follow-button-icon-color, var(--pp-interaction-icon-color, var(--follow-button-text, var(--theme-text))));
    }

    
    .follow-button > * {
        display: flex;
        align-items: center;
    }
    
    .follow-button .not-followed-display .text {
        margin-right: 2px;
    }


    .follow-button.isFollowed .not-followed-display{
        display: none;
    }

    .follow-button:not(.isFollowed) .followed-display{
        display: none;
    }

</style>


<script>

    $(document).ready(function(){

        $( ".js-ajax-follow-pp" ).on( "click", function(e) {

            e.preventDefault();
            e.stopPropagation();

            const $tag = $(this);
            const url = $tag.data('url');
            const token = $tag.data('token');

            $.ajax({

                url: url,
                data: { _token: token },
                type: "POST",
                
                success: function(data) {

                    $(".follow-button").toggleClass("isFollowed");
                    
                },

                error : function(xhr, textStatus, errorThrown) {

                    console.log(errorThrown);

                }  

            });

        });

    });

</script>

{% endif %}
