{% extends 'base.html.twig' %}

{% set showThemeSelector = true %}

{% block header_navbar %}
    {% include "_partials/header_navbar.html.twig" with { showThemeSelector: true } %}
{% endblock %}


{# Setting some presentation metadata for SEO, Open Graph #}

{% set createdAt = presentation.createdAt | date("Y - m - d") %}
{% set creator = presentation.creator.username %}

{# SEO & Open Graph: Providing a page title #}
{# Its composition : "{Project Title} - "(if we got one) + {Project goal (first letter uppercased)} (always got one) #}
{% set OGTitle %}{{ presentation.title ? presentation.title ~ " - " : '' }}{{ presentation.goal[:1] | upper ~ presentation.goal[1:] }}{% endset %}

{# SEO & Open Graph: Providing a page description #}
{% set OGDescription %}{{presentation.textDescription|default('')|striptags|slice(0,220)}}{% endset %}

{# Open Graph: Providing a page image #}
{# We provide thumbnail url #}

{% set OGImageUrl %}{{ presentation.extra.cacheThumbnailUrl ?: null }}{% endset %}

{# Open Graph asks for a page url #}
{% set OGPageUrl = absolute_url (app.request.uri) %}


{% block headTag %}

    {# SEO Meta Tags #}

    <meta name="description" content="{{ OGDescription }}">
    <meta name="author" content="{{ creator }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ createdAt}}">

    {{ _self.openGraph(OGTitle, 'Propon', OGPageUrl, OGDescription, 'article', OGImageUrl, null) }} {# Called from base.html.twig #}

    {# Propon Project Presentation Page might be accessed with different urls, so we use a canonical tag to provide a central one for SEO #}

    <link rel= "canonical" href= "{{ url ('edit_show_project_presentation', {'stringId': presentation.stringId}) }}" />

    {# TinyMCE Script only if the user can edit the presentation (add a news, update project description #}

    {% if userPresenter %}

        <script src="https://cdn.tiny.cloud/1/ozugcg6rtcsvf9xx1qfujj2aluoo7ezwd2pfx5xnwf4nhujq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    {% endif %}


{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">
    <link href="/css/comments.css" rel="stylesheet">
    <link href="/css/show_more_less_button.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    {# WYSIWYG editor styles only if the user can edit the presentation #}

    {% if userPresenter %}

        <link href="/css/wysiwyg.css" rel="stylesheet">
        <link href="/css/create_news.css" rel="stylesheet">
        <link href="/css/places_autocomplete.css" rel="stylesheet">

    {% endif %}




{% endblock %}


{% block title %}{{OGTitle}}{% endblock %}

{% block body %}


    {# statuses catalog and active statuses, needed in edit and display statuses partials #}
    {% set statusesCatalog = constant('App\\Enum\\ProjectStatuses::CATALOG') %}
    {% set thisProjectActiveStatuses = presentation.getStatuses() %}

    {% if userPresenter %}

        {% set categoriesKeywordsForm = categoriesKeywordsForm is defined ? categoriesKeywordsForm : null %}

        {% include 'project_presentation/edit_show/statuses/edit_box.html.twig' %}  

        {% include "project_presentation/edit_show/slides/add_image.html.twig" %}

        {% include "project_presentation/edit_show/slides/add_video.html.twig" %}  
    
        {% include 'project_presentation/edit_show/places/manage.html.twig' %}

        {% include "project_presentation/edit_show/documents/add.html.twig" %}

        {% include "project_presentation/edit_show/questions_answers/add.html.twig" %}

        {% include "project_presentation/edit_show/websites/add.html.twig" %}

        {% include "project_presentation/edit_show/business_cards/add.html.twig" %}

        {% set newsFormProxy %} {# Proxy News Form : when user clicks on it, we open the full news creation form #}
                        
            <input class="proxy-news-input" data-pp-id="{{presentation.id}}" type="text" placeholder="Donner des nouvelles">

            <div class="fake-send-button"><img class="text-success" src="{{ asset('send_message.svg', 'misc')}}" alt="paper plane icon"></div>

        {% endset %}
        

    {% endif %}


    {# Setting some variables #}

    {% set hasKeywords = presentation.keywords is not empty %}

    {% set presentationCategories = presentation.categories %}

    {% set countCategories = presentationCategories | length %}

    {% set countComments = presentation.comments | length %}

    {% set likesCount = presentation.likes | length %}

    {% set pageInfo %}

        <li class="mb-1">
            Page créée le {{ presentation.createdAt ? presentation.createdAt|date('Y - m - d') : 'N/A' }}.
        </li>

        <li class="mb-1">
            Par {{ presentation.creator ? presentation.creator.username : 'Non renseigné' }}.
        </li>

        <li>
            <p class="text-muted mb-1">Propon souhaite vous fournir une information fiable mais ne peut garantir l'exactitude ou la complétude des informations présentées.</p>
        </li>
        
    {% endset %}


        {% include 'project_presentation/edit_show/share_modal.html.twig' %}
    

    <div class="pp-container {{userPresenter ? 'in-edition-mode' : 'in-consultation-mode'}} container">


        {% if userPresenter %}

            {# Add a News Proxy Form (Tiny Screens) (>md screens managed in upper_box #}
            <div class="pp-edition-mode d-md-none">

                <div class="proxy-news-creation-container pp-struct-container is-expanded" data-pp-default-expanded="true">

                    {{ newsFormProxy}}

                </div>  
                        
            </div>


            {# Screen covering add news ui triggered when user clicks on add a news proxy input #}

            <div class="news-form-struct pp-edition-mode" data-pp-id="{{ presentation.id }}" style="display:none;"> 

                <h4 class="news-form-struct-title"><img id="" class="news-icon me-1" src="{{ asset('news.svg', 'misc')}}" alt="news icon (a radio wave)" width="22" height="22" style=" transform: scaleX(-1);">Partager des Nouvelles<img id="" class="news-icon ms-1" src="{{ asset('news.svg', 'misc')}}" alt="news icon (a radio wave)" width="22" height="22"></h4>

                <div class="">
                
                    {% include "project_presentation/edit_show/news/add.html.twig" %}
                
                </div>        
                
            </div>
            
        {% endif %}



        {% include 'project_presentation/edit_show/upper_box_structure.html.twig' %}

        <div class="container px-0">

            <div class="row">

                {% set countSlides = presentation.slides | length %}
                {% set hasSlides = countSlides > 0 %}
                
                {# Slideshow images & videos #}

                <div class="col-lg-6 pp-struct-container-wrapper {% if countSlides == 0 %} pp-edition-mode {% endif %}">

                    <div id="slideshow-struct-container" class="pp-struct-container{{ hasSlides ? ' is-expanded' : '' }}" {% if hasSlides %}data-pp-default-expanded="true"{% endif %}>
                            
                        {% include 'project_presentation/edit_show/slides/slides.html.twig' %}

                    </div>
                
                </div>


                {# Text Description #}

                <div class="col-lg-6 pp-struct-container-wrapper">

                    {% set hasTextDescription = presentation.textDescription|default('')|striptags|trim is not empty %}

                    <div id="text-description-struct-container" class="pp-struct-container{{ hasTextDescription ? ' is-expanded' : '' }}" {% if hasTextDescription %}data-pp-default-expanded="true"{% endif %}>
                        
                        {% include 'project_presentation/edit_show/text_description/main.html.twig' %}

                    </div>
                
                </div>


                {# Places #}

                {% set countPlaces = presentation.places | length %}
                {% set hasPlaces = countPlaces > 0 %}

                <div class="col-lg-6 pp-struct-container-wrapper {% if countPlaces == 0 %} pp-edition-mode {% endif %}">
                    
                    <div id="places-struct-container" class="pp-struct-container{{ hasPlaces ? ' is-expanded' : '' }}" {% if hasPlaces %}data-pp-default-expanded="true"{% endif %}>
                        
                    {% include 'project_presentation/edit_show/places/display.html.twig' %}
                    
                    </div>
                
                </div>


                {# Documents #}

                {% set countDocuments = presentation.documents | length %}
                {% set hasDocuments = countDocuments > 0 %}
               
                <div class="col-lg-6 pp-struct-container-wrapper {% if countDocuments == 0 %} pp-edition-mode {% endif %}">

                    <div id="documents-struct-container" class="pp-struct-container{{ hasDocuments ? ' is-expanded' : '' }}" {% if hasDocuments %}data-pp-default-expanded="true"{% endif %}>

                        {% include 'project_presentation/edit_show/documents/display.html.twig' %}

                    </div>


                </div>



                {# News #}

                {% set countNews = presentation.news | length %}
                {% set hasNews = countNews > 0 %}
               
                <div class="col-lg-6 pp-struct-container-wrapper {% if countNews == 0 %} pp-edition-mode {% endif %}">

                    <div id="news-struct-container" data-structure="news" class="pp-struct-container{{ hasNews ? ' is-expanded' : '' }}" {% if hasNews %}data-pp-default-expanded="true"{% endif %}>

                        {% include 'project_presentation/edit_show/news/display.html.twig' %}

                    </div>

                </div>


                {# Questions & Answers #}

                {% set countQA = presentation.getOtherComponents().getComponents('questions_answers') | length %}
                {% set hasQA = countQA > 0 %}
                

                <div class="col-lg-6 pp-struct-container-wrapper {% if countQA == 0 %} pp-edition-mode {% endif %}">
                
                    <div id="questionsAnswers-struct-container" class="pp-struct-container{{ hasQA ? ' is-expanded' : '' }}" {% if hasQA %}data-pp-default-expanded="true"{% endif %}>
                
                        {% include "project_presentation/edit_show/questions_answers/display.html.twig" %}
                
                    </div>

                </div>


                {# Websites #}

                {% set countWebsites = presentation.getOtherComponents().getComponents('websites') | length %}
                {% set hasWebsites = countWebsites > 0 %}


                <div class="col-lg-6 pp-struct-container-wrapper {% if countWebsites == 0 %} pp-edition-mode {% endif %}">
            
                    <div id="websites-struct-container" class="pp-struct-container col-12{{ hasWebsites ? ' is-expanded' : '' }}" {% if hasWebsites %}data-pp-default-expanded="true"{% endif %}>
                    
                        {% include 'project_presentation/edit_show/websites/content.html.twig' %}
                            
                    </div>   
                
                </div>


                {# to do: drop or not: Old way reminder:
                
                    Contact Project Members : Business Cards & Private Message Button
                    !!! Also contains "Send Private Message Button" & "Allow - Disallow PM Switcher"
                
                    {% if not presentation.isDeleted and (countBC > 0 or privateMessagesActive or userPresenter) %}
                
                 #}


                {# Business cards #}

                {% set countBC = presentation.getOtherComponents().getComponents('business_cards') | length %}
                {% set hasBusinessCards = countBC > 0 or privateMessagesActive|default(false) %}

                <div class="col-lg-6 pp-struct-container-wrapper {% if countBC == 0 %} pp-edition-mode {% endif %}">

                    {# to do: drop or not: Old way reminder: in tag attribute
                
                        <div id="businessCards-struct-container" data-display="{{countBC > 0 or privateMessagesActive ? "true" : "false"}}" class="pp-struct-container col-12">
                
                    #}

                    <div id="businessCards-struct-container" class="pp-struct-container col-12 {% if countBC == 0 %} pp-edition-mode {% endif %}{{ hasBusinessCards ? ' is-expanded' : '' }}" {% if hasBusinessCards %}data-pp-default-expanded="true"{% endif %}>

                        {% include 'project_presentation/edit_show/contact_possibilities.html.twig' %}

                    </div>    
                
                </div>


                {% include 'project_presentation/edit_show/misc_structure_container.html.twig' %}



                
                {# Project Presentation Comments #}

                {% include "comment/_js.html.twig" %}

                <div class="col-lg-6 pp-struct-container-wrapper">

                    {% set hasComments = countComments > 0 %}

                    <div id="comments-struct-container" class="pp-struct-container{{ hasComments ? ' is-expanded' : '' }}" {% if hasComments %}data-pp-default-expanded="true"{% endif %}>

                        {% include "comment/_comments.html.twig" with {commentedEntityType: "projectPresentation", commentedEntityId: presentation.id, commentedEntityComments: presentation.comments } %}

                    </div>
                
                </div>


            </div>

        </div>




        {% if userPresenter %}

            {# Switch Between Edition Mode and Consultation Mode Button #}

            <button id="pp-switch-edit-consult-mode">

                <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

                <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

            </button>

            {% include 'project_presentation/edit_show/reorder_delete_elements.html.twig' %}

            {% include 'project_presentation/edit_show/wysiwyg.html.twig' %}

            {% include 'project_presentation/edit_show/_partials/first_time_edit_toggle_hint.html.twig' %}

        {% endif %}


         {% if not userPresenter %}

            {% set odd = [0,0,0,0,0,0,1] %}

            {% if random (odd) == 1 and not app.user  %}

                <p class="text-center">Pour rendre votre projet plus visible, <br class="d-md-none">présentez-le gratuitement sur Propon ( 👉 <a href="{{path('create_project_presentation')}}">c'est ici</a> ).</p>
            
            {% endif %}

        {% endif %}


    </div>

{% endblock %}

{% block javascripts %}

    {% include 'project_presentation/edit_show/statuses/javascripts.html.twig' %}

    {% if userPresenter %}
    
            
        <script>

            $(document).ready(function(){

                // initialising inline edit capabilities
                $("[data-edit]").attr('contenteditable','true');


            });

        </script>

        <script src="/js/news_creation.js"></script>
    
        {% include 'project_presentation/edit_show/places/_js.html.twig' with { presentation: presentation } %}
        
    
    {% endif %}

	{# Image Zoom Only On Large Screens #}

	<script>

		if (!tinyScreen)
		{		
			var head = document.getElementsByTagName('head')[0];
			var js = document.createElement("script");
			js.type = "text/javascript";
			js.src = "/js/image_zoom.js";
			head.appendChild(js);
		}
	
	</script>




{% endblock %}
