{% extends 'base.html.twig' %}


 {# Security Global TWIG variable flagging whether user can present this project #} 

    {% set userPresenter = false %}

    {% if is_granted('edit', presentation) %}
    
        {% set userPresenter = true %}

    {% endif %}



 {# Security Global TWIG variable flagging whether user is an admin #} 

    {% set userAdmin = false %}

    {% if is_granted('ROLE_ADMIN') %}

        {% set userAdmin = true %}

    {% endif %}



{# Setting some presentation metadata for SEO, Open Graph #}

{% set createdAt = presentation.createdAt | date("Y - m - d") %}
{% set creator = presentation.creator.username %}

{# SEO & Open Graph: Providing a page title #}
{# Its composition : "{Project Title} - "(if we got one) + {Project goal (first letter uppercased)} (always got one) #}
{% set OGTitle %}{{ presentation.title ? presentation.title ~ " - " : '' }}{{ presentation.goal[:1] | upper ~ presentation.goal[1:] }}{% endset %}

{# SEO & Open Graph: Providing a page description #}
{% set OGDescription %}{{ presentation.textDescription | slice (0, 220) | striptags }}{% endset %}

{# Open Graph: Providing a page image #}
{# We provide thumbnail url #}

{% set OGImageUrl %}{{ presentation.extra.cacheThumbnailUrl ?: null }}{% endset %}

{# Open Graph asks for a page url #}
{% set OGPageUrl = app.request.uri %}


{% block headTag %}

    {# SEO Meta Tags #}

    <meta name="description" content="{{ OGDescription }}">
    <meta name="author" content="{{ creator }}">
    <meta name="keywords" content="{{ presentation.keywords }}">
    <meta name="date" content="{{ createdAt}}">

    {{ _self.openGraph(OGTitle, 'Propon', OGPageUrl, OGDescription, 'article', OGImageUrl, null) }} {# Called from base.html.twig #}

    {# Propon Project Presentation Page might be accessed with different urls, so we use a canonical tag to provide a central one for SEO #}

    <link rel= "canonical" href= "{{ url ( 'edit_show_project_presentation' , {'stringId' : presentation.stringId }) }}" />

    {# TinyMCE Script only if the user can edit the presentation (add a news, update project description #}

    {% if userPresenter %}

        <script src="https://cdn.tiny.cloud/1/ozugcg6rtcsvf9xx1qfujj2aluoo7ezwd2pfx5xnwf4nhujq/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>

    {% endif %}


{% endblock %}

{% block stylesheets %}

    <link href="/css/project_presentation_page.css" rel="stylesheet">
    <link href="/css/comments.css" rel="stylesheet">
    <link href="/css/show_more_less_button.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    {# WYSIWYG editor styles only if the user can edit the presentation #}

    {% if userPresenter %}

        <link href="/css/wysiwyg.css" rel="stylesheet">
        <link href="/css/create_news.css" rel="stylesheet">
        <link href="/css/places_autocomplete.css" rel="stylesheet">

    {% endif %}




{% endblock %}


{% block title %}{{OGTitle}}{% endblock %}

{% block body %}


    {% if userPresenter %}

    {% endif %}
    

    <div class="page-container container m-4 {{userPresenter ? 'in-edition-mode' : 'in-consultation-mode'}}">



        <div class="mb-4">

            {# Logo #}
            
            {% include 'project_presentation/edit_show/_partials/__upper_box/___logo/___add_form.html.twig' %}
            {% include 'project_presentation/edit_show/_partials/__upper_box/___logo/___display.html.twig' %}
             
        </div>



    {# Setting some variables #}

    {% set hasKeywords = presentation.keywords is not empty %}

      

        {% set presentationCategories = presentation.categories %}
        {% set countCategories = presentationCategories | length %}
        {% set categoriesKeywordsForm = categoriesKeywordsForm is defined ? categoriesKeywordsForm : null %}





        <div class="align-items-center">
            {% include 'project_presentation/edit_show/_partials/__upper_box/_categories_keywords.html.twig' %}
            {% if userPresenter and categoriesKeywordsForm %}
                {% include 'project_presentation/edit_show/modals/categories_keywords_modal.html.twig' %}
            {% endif %}
        </div>














        {% set countPlaces = presentation.places | length %}

        <div class="col-lg-6 pp-struct-container-wrapper {% if countPlaces == 0 %} pp-edition-mode {% endif %}">
            
            <div id="places-struct-container" class="pp-struct-container">
                
               {% include 'project_presentation/edit_show/places/display.html.twig' %}
            
            </div>
        
        </div>

















        {% set countSlides = presentation.slides | length %}
        
        {# Slideshow images & videos #}

        {% include "project_presentation/edit_show/slides/add_image_form.html.twig" %}

        {% include "project_presentation/edit_show/slides/add_video_form.html.twig" %}

        <div class="col-lg-6 pp-struct-container-wrapper {% if countSlides == 0 %} pp-edition-mode {% endif %}">

            <div id="slideshow-struct-container" class="pp-struct-container">
                    
                {% include 'project_presentation/edit_show/slides/slides.html.twig' %}

            </div>
        
        </div>


        {# Text Description #}

        <div class="col-lg-6 pp-struct-container-wrapper">

            <div id="text-description-struct-container" class="pp-struct-container">
                
                {% include 'project_presentation/edit_show/text_description/main.html.twig' %}

            </div>
        
        </div>
















        {% set countQA = presentation.getOtherComponents().getComponents('questions_answers') | length %}

        {# Questions & Answers #}
        
        {% include "project_presentation/edit_show/questions_answers/add_form.html.twig" %}



        <div class="col-lg-6 pp-struct-container-wrapper">
        
            <div id="questionsAnswers-struct-container" class="pp-struct-container ">
        
                {% include "project_presentation/edit_show/questions_answers/display.html.twig" %}
        
            </div>

        </div>


                 




        {% set countWebsites = presentation.getOtherComponents().getComponents('websites') | length %}

        {# Websites #}
        
        {% include "project_presentation/edit_show/_partials/_websites/_add_form.html.twig" %}

        <div class="col-lg-6 pp-struct-container-wrapper {% if countWebsites == 0 %} pp-edition-mode {% endif %}">
    
            <div id="websites-struct-container" class="pp-struct-container col-12">
            
                {% include 'project_presentation/edit_show/_partials/_websites/_content.html.twig' %}
                    
            </div>   
        
        </div>


        









<script>


$(document).on('submit', '.ajax-form', function (e) {
    e.preventDefault();

    const $form = $(this);
    const actionUrl = $form.data('action');
    const fragment = $form.data('fragment'); // optional
    const messageTarget = $form.data('message-target') || '#ajax-form-message';

    $.ajax({
        url: actionUrl,
        method: 'POST',
        data: new FormData(this),
        processData: false,
        contentType: false,

        success: function (json) {

            // Success message
            $(messageTarget).html(
                `<div class="alert alert-success">${json.message}</div>`
            );

            // Reload fragment if provided
            if (fragment) {
                $(fragment).load(location.href + " " + fragment + " > *");
            }

            // Optional: Reset form inputs (except hidden fields)
            $form.find('input[type!="hidden"], textarea').val('');
        },

        error: function (xhr) {
            let html = '<div class="alert alert-danger">';

            if (xhr.responseJSON && xhr.responseJSON.errors) {
                xhr.responseJSON.errors.forEach(err => {
                    html += `<div>${err.message}</div>`;
                });
            } else {
                html += 'Une erreur est survenue.';
            }

            html += '</div>';

            $(messageTarget).html(html);
        }
    });
});




</script>

















        <div class="mb-4">
        
            {% include 'project_presentation/edit_show/_partials/__upper_box/_title.html.twig' %}
        
        </div>




        {# Switch Between Edition Mode and Consultation Mode Button #}

        <button id="pp-switch-edit-consult-mode" title="Switch between edition mode and consultation mode">

            <img id="pp-consult-icon" class="pp-edition-mode" src="{{ asset('eye.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="eye icon">

            <img id="pp-edit-icon" class="pp-consultation-mode" src="{{ asset('pen.svg', 'pp_wysiwyg')}}" height="30" width="30"  alt="pen icon">

        </button>




       














{# statuses catalog #}

        <script src="/js/template_manager.js"></script>

        {% set statusesCatalog = constant('App\\\Enum\\\ProjectStatuses::CATALOG') %}

        {% set thisProjectActiveStatuses = presentation.getStatuses() %}

        {% include 'project_presentation/edit_show/_partials/_statuses/_edit_button.html.twig' %}


        {% include 'project_presentation/edit_show/_partials/_statuses/_edit_box.html.twig' %}


        {% include 'project_presentation/edit_show/_partials/_statuses/_javascripts.html.twig' %}


        {% include 'project_presentation/edit_show/_partials/_statuses/_view.html.twig' %}
















        







        {% include 'project_presentation/edit_show/_partials/_upper_box.html.twig' %}




        {% include 'project_presentation/edit_show/_partials/_follow_button.html.twig' %}
        {% include 'project_presentation/edit_show/_partials/_like_button.html.twig' %}

        {% if userPresenter %}
            {% include 'project_presentation/edit_show/places/manage_modal.html.twig' %}
            {% include 'project_presentation/edit_show/reorder_delete_elements.html.twig' %}
            {% include 'project_presentation/edit_show/wysiwyg.html.twig' %}
        {% endif %}

    </div>
    
{% endblock %}

{% block javascripts %}

<script>

    $(document).ready(function(){

        // initialising inline edit capabilities
        $("[data-edit]").attr('contenteditable','true');


    });

</script>

{% if userPresenter %}
    {% include 'project_presentation/edit_show/places/_js.html.twig' with { presentation: presentation } %}
{% endif %}

{% endblock %}
